@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

h3 {
  font-size: 3rem;
  font-weight: bold;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*---------------------------- Main Layout ----------------------------*/

.page-layout {
  display: grid;
  grid-template-columns: 1fr; /*single collumn, 100% width*/
  grid-template-rows: 100px 1fr 100px; /*this determines the height of the navbar and footer*/
  min-height: 100vh;
  width: 100vw;
}

.page-layout > * { /*these symbols mean "all elements that are inside an element with the page-layout class"*/
  padding: 0 5vw;
}

main {
  padding: 20px 0;
  background-color: rgb(11, 11, 29); /*temporary background to see the size of the element*/
}

/*------------------------------ Navbar --------------------------------*/

nav {
  background-color: rgb(29, 11, 11); /*temporary background to see the size of the element*/
}

/*------------------------------ Footer --------------------------------*/

footer {
  background-color: rgb(11, 29, 11); /*temporary background to see the size of the element*/
}

/*------------------------ Recurring elements ----------------------------*/

button.primary-button {
  border: 1px;
  border-radius: 50px;
  border-color: white;
}