@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --danger-color: 255, 30, 30;
  --light-font: 255, 255, 255;
  --dark-font: 0, 0, 0;
  --card-yellow: 247, 238, 109;
  --brand-blue: 47, 112, 237;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

p,
a,
h1,
h2,
h3,
h4,
button,
li {
  color: rgb(var(--dark-font));
}
nav p,
nav a,
nav h1,
nav h2,
nav h3,
nav h4,
nav button,
nav li {
  color: rgb(var(--light-font));
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4 {
  font-size: 22px;
  font-weight: 600;
}

h5 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  text-decoration-color: rgb(var(--light-font));
}

p {
  max-width: 45rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*---------------------------- Main Layout ----------------------------*/

.page-layout {
  display: grid;
  grid-template-columns: 1fr; /*single collumn, 100% width*/
  grid-template-rows: 100px 1fr 100px; /*this determines the height of the navbar and footer*/
  min-height: 100vh;
  width: 100%;
}

.page-layout > * {
  display: flex;
  justify-content: center;
}

.page-layout > * > * {
  /*these symbols mean "all elements that are inside an element with the page-layout class"*/
  max-width: 70rem;
  margin: 0 5vw;
  width: 100%;
}

main {
  padding: 20px 0;
  background-color: rgb(245, 237, 237);
  /* z-index: -2; */
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content > *,
.footer-grid {
  margin-top: 20px;
}

/*------------------------------ Navbar --------------------------------*/

nav {
  background: rgb(var(--brand-blue));
  z-index: 1;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar-content > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  height: inherit;
}
.navbar-content > ul a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16pt;
}
.navbar-content > ul a:hover {
  text-decoration: underline;
}
.navbar-logo {
  max-height: 100px;
}

/*------------------------------ Footer --------------------------------*/

footer {
  background-color: rgb(147, 169, 182);
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.footer-grid-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.footer-copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 50px;
  border-top: solid 1px;
  border-color: black;
}

/*------------------------ Recurring elements ----------------------------*/

.buttons-container {
  display: flex;
  gap: 10px;
}

button,
input[type="submit"] {
  cursor: pointer;
  border-width: 1px;
  border-radius: 50px;
  padding: 2px 10px 4px;
}

.primary-button,
input[type="submit"].primary-button {
  border-color: rgb(var(--dark-font));
}

.primary-button.active h4 {
  background-color: rgb(var(--dark-font));
  color: rgb(var(--light-font));
  border-color: rgb(var(--dark-font));
}

button.danger-button,
input[type="submit"].danger-button {
  border-color: rgb(var(--danger-color));
  color: rgb(var(--danger-color));
}

.primary-button:hover {
  cursor: pointer;
}

.item-page-link {
  display: flex;
  margin: 20px 0;
  gap: 10px;
}

.item-page-link img {
  max-width: 50px;
}

/*------------------------ Landing Page ----------------------------*/

.page-selection {
  margin-top: 20px;
}

.page-selection-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.page-selection-buttons li a {
  height: 40px;
  display: flex;
}

.page-selection-buttons li a h4 {
  border: solid 2px;
  border-color: var(--dark-font);
  padding: 1px 20px;
}

.page-selection-buttons img {
  width: 40px;
  flex-shrink: 0;
}

/*-------------------------- Events ------------------------------*/

.event-card-container > a {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  cursor: pointer;
}

.event-card-upper {
  display: grid;
  grid-template-columns: 250px 50px;
  align-items: end;
}

.event-card-img-container {
  max-height: 250px;
}
.event-card-upper img {
  object-fit: fill;
}

.event-card-information {
  padding: 10px 20px;
  background-color: rgb(var(--card-yellow));
}

.event-card-container .event-date {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.event-card-container .event-date > p {
  color: white;
  font-size: 0.8em;
  line-height: 1em;
}

.event-card-container .event-date > h5 {
  line-height: 0.9em;
  font-weight: 700;
}

/*-------------------------- Stores ------------------------------*/

.store-filter {
  padding: 20px;
  background-color: antiquewhite;
}

.store-filter-location label {
  padding-left: 5px;
}

/*----------------------- Search Bar --------------------------------------------*/

.searchbar {
  display: flex;
  margin-bottom: 20px;
}

.searchbar input {
  border: solid 2px;
  border-color: var(--dark-font);
  padding: 1px 5px;
  background-color: var(--background-start-rgb);
}

/*---------------------- Hero Section ------------------------------------------*/

.herosection > * {
  z-index: 1;
  position: relative;
}

.herosection img {
  position: relative;
  filter: drop-shadow(0 1px 5px rgb(39, 53, 148));
}

.herosection::before {
  background: rgb(var(--brand-blue));
  bottom: 35rem;
  content: "";
  display: block;
  left: calc(50% - 50vw);
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 0;
}

.herosection.item-page::before {
  bottom: 50rem;
}

.herosection .page-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 30vh;
  padding: 3vh 0;
}

.herosection .page-header span {
  display: flex;
  align-items: flex-start;
}

.herosection .page-header button {
  margin: 40px 0 0 15px;
  color: rgb(var(--light-font));
  border-color: rgb(var(--light-font));
  border-width: 2px;
  font-weight: 700;
}

.herosection .page-header button:hover {
  color: rgb(var(--brand-blue));
  background-color: rgb(var(--light-font));
}

.herosection h1 {
  color: rgb(var(--light-font));
}


/*------------------ Location Button -----------------------------------*/

.location-button, 
input[type="submit"].location-button {
  border-color: rgb(var(--dark-font));
}

.store-filter {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}